<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Hola amigos este es nuestra aplicacion Report Itsva hecho por el equipo de desarrolladores</p>
        
    </div>
</div>