<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
  El servicio incluye el poder generar reportes de objetos perdidos, 
  como también de reportes de daños y desperfectos en la institución indicada 
  a implementar este servicio. lo importante y único de este servicio es el poder 
  notificar directamente al personal encargado sobre estos problemas existentes en 
  alguna escuela.
    </p>
  </div>
</section>
