<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
  El servicio incluye el poder generar reportes de objetos perdidos,
  como también de reportes de daños y desperfectos en la institución indicada
  a implementar este servicio. lo importante y único de este servicio es el poder
  notificar directamente al personal encargado sobre estos problemas existentes en
  alguna escuela.
    </p>
  </div>
</section>


   <div id="carouselExampleControls" class="carousel slide pt-3" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="">
                        <img class="d-block w-100" src="https://storage.googleapis.com/storagestelordersite/informe-resultados-tesoreria-online-movil.png" alt="Informe">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img class="d-block w-100" src="https://www.poresto.net/wp-content/uploads/1503va153.jpg" alt="Itsva">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img class="d-block w-100" src="https://teinco.edu.co/wp-content/uploads/2018/03/img_ingsis.jpg" alt="Analizador">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img class="d-block w-100" src="https://i2.wp.com/www.universidadescr.com/blog/wp-content/uploads/2014/11/photodune-369302-keyboard-m.jpg?fit=600%2C400&ssl=1" alt="Depelopend">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Ant.</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Sig.</span>
            </a>
        </div>
        <div class="panel-footer">
            <p>Report Itsva</p>
        </div>
