<div class="jumbotron mt-4">
  <h1 class="display-4">Servicio de reportes!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>Somos un grupo de especialistas con experiencia en el desarrollo de aplicaciones móviles,
    pero más en las aplicaciones web, con el objetivo de ayudar al sistema nacional de educación
    universitaria como también varias instituciones, poder Implantar confianza en los clientes 
    y garantizar su satisfacción total.Hacerles saber que nuestra intención es convertirnos en 
    sus socios estratégicos.
  </p>
  <a class="btn btn-primary btn-lg" href="https://www.itsva.edu.mx/" role="button">ReportItsva</a>
</div>
