<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs Y mongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Saepe recusandae optio incidunt eius, maiores perspiciatis minima nostrum dolores animi eos voluptate esse dolorem ratione laudantium?
        Doloremque distinctio sequi ea assumenda?</p>
        <a href="http://faztweb.com" class="btn btn-primary btn-g ">Faztweb</a>
</div>