<div class="col mx-auto">
    <div class="card text-center">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-group-flush">
                    <div class="card-header text-center">
                        <h2><b>Información general</b></h2>
                    </div>
                    <li class="list-group-item"><b><i class="fas fa-user"></i> Usuario: </b>{{user.name}}</li>
                    <li class="list-group-item"><i class="fas fa-mail-bulk"></i><b> Correo: </b>{{user.email}}</li>
                    <li class="list-group-item"><i class="fas fa-graduation-cap"></i> <b>Carrera: </b>{{user.carrera}}</li>
                    <li class="list-group-item"><i class="fas fa-venus-mars"></i> <b>Genero: </b>{{user.sexo}}
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/users/actualizar" class="card-link btn btn-warning">Editar</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                        Eliminar cuenta
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>